<ion-button id="open-modal-book" expand="block">
  <ion-label>
    <fa-icon icon="map-location" class="item_icon"></fa-icon>
    Booked trips
  </ion-label>
</ion-button>
<ion-modal trigger="open-modal-book">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>
          <fa-icon icon="map-location" class="item_icon"></fa-icon>
          Booked trips
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="container" *ngIf="trips.trips.length !== 0">
        <div class="items">
          <div class="search_item" *ngFor="let trip of trips.trips"  [ngClass]="isTripCompleted(trip.endTime) ? 'is-disabled':''">
            <div class="btn-delete-trip">
              <ion-button [id]="trip.id" *ngIf="!isTripCompleted(trip.endTime)" (click)="tripToDelete = trip">Сancel booking</ion-button>
              <ion-alert
                [trigger]="trip.id"
                header="Are you sure you want to cancel the reservation?"
                sub-header="Your driver will be notified of the cancellation!"
                [buttons]="alertButtons"
              ></ion-alert>
              <div class="price">
                <p>{{trip.pricePerSeat | currency:"UAH":"symbol"}}</p>
                <fa-icon [icon]="trip?.car?.carType === carType?.Sedan ? 'car' : 'bus'" class="item_icon"></fa-icon>
              </div>
            </div>
            <div class="header">
              <div class="time">
                <p>{{trip.startTime | date:'MMM d, y, h:mm a'}}</p>
                <p>{{trip.endTime | date:'MMM d, y, h:mm a'}}</p>
              </div>
              <div class="line">
              </div>
              <div class="price_item">
                <div class="cities">
                  <div class="start">
                    <fa-icon icon="location" class="item_icon"></fa-icon>
                    <p>{{trip.startPlace}}</p>
                  </div>
                  <div class="destination">
                    <fa-icon icon="location-dot" class="item_icon"></fa-icon>
                    <p>{{trip.endPlace}}</p>
                  </div>
                </div>

              </div>
            </div>
            <ion-accordion-group *ngIf="!isTripCompleted(trip.endTime) && trip.tripUsers[0] && trip.tripUsers[0]?.seat !== null">
              <ion-accordion value="first">
                <ion-item slot="header" >
                  <ion-label>Booked seats</ion-label>
                </ion-item>
                <div slot="content">
                  <div class="">
                    <p class="title">You have booked seats:</p>
                    <div class="booked-seats" *ngIf="trip.tripUsers[0]?.seat !== null">
                      <div *ngFor="let tripUser of trip.tripUsers" class="booked_seats_num">
                        <p>{{tripUser.seat?.seatNumber!}}</p>
                        <fa-icon icon="circle-minus" class="item_icon"  (click)="deleteBookedSeat(tripUser)"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-accordion>

            </ion-accordion-group>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
