.map-block {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;

  #small-map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    color: black;
    border-radius: 10px;
    overflow: hidden;
  }
}

ul {
  text-align: center;
}

.toggles {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 8px;

  .item_icon{
    color: #428cff;
    font-size: 20px;
  }

  p{
    margin: 2px;
  }
}
