<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box">
    <img src="assets/img_1.png" alt="">
  </div>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email" required="true"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email']?.errors?.['required']">
        Email is required.
      </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email'].errors?.['email']">
        Please enter valid email.
    </span>
    <ion-item lines="full">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password"  required="true"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['password']?.errors?.['required']">
        Password is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl['password'].errors?.['minlength']">
        Password should be min 4 chars long.
    </span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
<!--        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>-->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
