<ion-modal [isOpen]="isOpen" (ionModalWillPresent)="searchData()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-segment value="default">
            <ion-segment-button value="1" (click)="changeTab(1)">
              <ion-label>
                <fa-icon icon="info" class="item_icon"></fa-icon>
                <p>Info</p>
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="2" (click)="changeTab(2)">
              <ion-label>
                <fa-icon [icon]="selectedTrip.car.carType === carType.Sedan ? 'car' : 'bus'" class="item_icon"></fa-icon>
                <p>Seats</p>
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="3" (click)="changeTab(3)">
              <ion-label>
                <fa-icon icon="map" class="item_icon"></fa-icon>
                <p>Map</p>
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()" [strong]="true">
            <fa-icon icon="xmark" class="item_icon"></fa-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding modal-back">
      <app-small-map *ngIf="tabSelected === 3"></app-small-map>
      <div class="container" *ngIf="tabSelected === 1">
        <div class="search_info">
          <div class="date">
            <h4>
              {{selectedTrip.startTime | date}}
            </h4>
          </div>
          <div class="header">
            <div class="price_item">
              <div class="cities">
                <div class="start">
                  <fa-icon icon="location" class="item_icon"></fa-icon>
                  <p>{{selectedTrip.startTime | date:'MMM d, y, h:mm a'}}</p>
                  <p class="place_item">{{selectedTrip.startPlace}}</p>
                </div>

                <div class="destination">
                  <fa-icon icon="location-dot" class="item_icon"></fa-icon>
                  <p>{{selectedTrip.endTime | date:'MMM d, y, h:mm a'}}</p>
                  <p class="place_item">{{selectedTrip.endPlace}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="horizontal_line"></div>
        <div class="price">
          <p>For {{requestedSeats}} passangers</p>
          <p>{{selectedTrip.pricePerSeat* (requestedSeats ?? 0) | currency:"UAH":"symbol"}}</p>
        </div>
        <div class="horizontal_line"></div>
        <div class="owner-info"
             *ngIf="selectedTrip.userPermission === userPermission.canSeeTheOwnersData || selectedTrip.userPermission === userPermission.owner">
          <p>Tel:{{selectedTrip.user?.phoneNumber}}</p>
        </div>
        <div class="horizontal_line"></div>
        <div class="user">
          <i class="material-icons" *ngIf="selectedTrip.userPermission === userPermission.canSeeTheOwnersData ">chat</i>
          <div class="user_img">
            <img [src]="sanitizeUserImg(selectedTrip.user?.userImg!)" alt="" class="img">
          </div>
          <p>{{selectedTrip.user?.firstName}}</p>
        </div>
        <div class="horizontal_line"></div>
<!--        <button mat-button (click)="openDialog()" class="btn_continue">Continue</button>-->
      </div>
      <div class="wrapper" *ngIf="tabSelected === 2">
        <div class="car-details">
          <p class="title">
            <fa-icon [icon]="selectedTrip.car.carType === carType.Sedan ? 'car' : 'bus'" class="item_icon">
            </fa-icon>
            <span class="">{{selectedTrip.car.carType === carType.Sedan ? 'Car' : 'Bus'}} Details:</span>
          </p>
          <div class="row">
            <div class="details">
              <fa-icon icon="star" class="item_icon">
              </fa-icon>
              <p>{{selectedTrip.car.modelName}}</p>

            </div>
            <div class="details">
              <fa-icon icon="hashtag" class="item_icon">
              </fa-icon>
              <p>{{selectedTrip.car.registrationNumber}}</p>
            </div>
          </div>
        </div>
        <div class="car-details">
          <p class="title">
            <fa-icon icon="bookmark" class="item_icon">
            </fa-icon>
            <span class="">Seats Details:</span>
          </p>
          <div class="row">
            <div class="details">
              <fa-icon icon="star" class="item_icon">
              </fa-icon>
              <p>Available seats: {{getAvailableSeatsCount()}}</p>

            </div>
            <div class="details">
              <fa-icon icon="bolt-lightning" class="item_icon">
              </fa-icon>
              <p>Already booked: {{getBookedSeatsCount()}}</p>
            </div>
          </div>
        </div>

        <div class="car-details">
          <p class="title">
            <fa-icon icon="map-location" class="item_icon">
            </fa-icon>
            <span class="">Trip Details:</span>
          </p>
          <div class="row">
            <div class="details">
              <fa-icon icon="arrows-left-right-to-line" class="item_icon">
              </fa-icon>
              <p>Distance: {{distance}}</p>
            </div>
            <div class="details">
              <fa-icon icon="clock" class="item_icon">
              </fa-icon>
              <p>Time: {{time}}</p>
            </div>
          </div>
        </div>

<!--        <h2 >Choose {{requestedSeats}} places</h2>-->
<!--        <div class="">{{selectedTrip.car.modelName}}</div>-->
<!--        <div class="">{{selectedTrip.car.registrationNumber}}</div>-->
<!--        <div class="">{{distance}}</div>-->
<!--        <div class="">{{time}}</div>-->
        <div class="">
         </div>
          <div class="box">
            <div class="seats">
              <div class="wheel">
                <img src="../../../../assets/wheel.png" class="img__wheel" alt="">
              </div>
              <div class="seats_list">
                <div *ngFor="let item of  selectedTrip?.car?.seats" class="seat_item">
                  <button class="btn seat booked" disabled *ngIf="cheackSeat(item); else elseItem">
                    {{item.seatNumber}}
                  </button>
                  <ng-template #elseItem>
                    <button class="btn seat" (click)="bookSeat(item.id)"
                            *ngIf="!item.isSelected; else elseSeat">{{item.seatNumber}}</button>
                    <ng-template #elseSeat>
                      <button class="btn seat seat_selected" (click)="bookSeat(item.id)">{{item.seatNumber}}</button>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
<!--        -->
<!--          <div class="actions">-->
<!--            <button class="btn_action" (click)="close()">Close</button>-->
<!--            <button class="btn_action" (click)="confirmBook()">Confirm</button>-->
<!--          </div>-->
      </div >
      <div id="default"></div>
    </ion-content>
  </ng-template>
</ion-modal>
