<ion-content [fullscreen]="true">
    <!-- background map   -->
    <app-back-ground></app-back-ground>

    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="search">
        <fa-icon icon="magnifying-glass" class="item_icon"></fa-icon>
        Search
      </ion-tab-button>
      <ion-tab-button tab="current">
        <fa-icon icon="car-side" class="item_icon"></fa-icon>
        Activity
        </ion-tab-button>
      <ion-tab-button tab="profile">
        <fa-icon icon="user" class="item_icon"></fa-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
