<ion-button id="open-modal" expand="block">
  <ion-label>
    <fa-icon icon="location-dot" class="item_icon"></fa-icon>
    My trips
  </ion-label>
</ion-button>
<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>
          <fa-icon icon="location-dot" class="item_icon"></fa-icon>
          Your trips
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="container" *ngIf="trips.trips.length !== 0">
        <div class="items">
          <div class="search_item" *ngFor="let trip of trips.trips"  [ngClass]="isTripCompleted(trip.endTime) ? 'is-disabled':''">
            <div class="btn-delete-trip">
              <ion-button [id]="trip.id" *ngIf="!isTripCompleted(trip.endTime)" (click)="tripIdToDelete = trip.id">Cancel trip</ion-button>
              <ion-alert
                [trigger]="trip.id"
                header="Are you sure you want to cancel the trip?"
                sub-header="Your passengers will be notified of the cancellation!"
                [buttons]="alertButtons"
              ></ion-alert>
              <div class="price">
                <p>{{trip.pricePerSeat | currency:"UAH":"symbol"}}</p>
                <fa-icon [icon]="trip?.car?.carType === carType?.Sedan ? 'car' : 'bus'" class="item_icon"></fa-icon>
              </div>
            </div>
            <div class="header">
              <div class="time">
                <p>{{trip.startTime | date:'MMM d, y, h:mm a'}}</p>
                <p>{{trip.endTime | date:'MMM d, y, h:mm a'}}</p>
              </div>
              <div class="line">
              </div>
              <div class="price_item">
                <div class="cities">
                  <div class="start">
                    <fa-icon icon="location" class="item_icon"></fa-icon>
                    <p>{{trip.startPlace}}</p>
                  </div>
                  <div class="destination">
                    <fa-icon icon="location-dot" class="item_icon"></fa-icon>
                    <p>{{trip.endPlace}}</p>
                  </div>
                </div>

              </div>
            </div>
            <ion-accordion-group *ngIf="!isTripCompleted(trip.endTime) && trip.bookedTripUsers && trip.bookedTripUsers.length > 0">
              <ion-accordion value="first">
                <ion-item slot="header" >
                  <ion-label>Passengers list</ion-label>
                </ion-item>
                <div slot="content">
                  <div class="list_users">
                  <div class="user" *ngFor="let user of trip.bookedTripUsers">
                    <div class="user_info" *ngIf="user !== null">
                      <div class="body">
                        <fa-icon *ngIf="!isTripCompleted(trip.endTime)" icon="user-xmark" class="item_icon icon"
                                 (click)="deleteUserFromTrip(user.user.id, trip.id)"></fa-icon>
                        <div class="profile_img">
                          <img [src]="sanitizeUserImg(user.user.userImg!)" class="img" alt="">
                        </div>
                        <p class="user_name">{{user.user.firstName}}</p>
                      </div>
                      <div class="booked-seats" *ngIf=" user.seats[0]?.seatNumber !== null">
                        <div class="booked_seats_num" *ngFor="let seat of user.seats">
                          <p>{{seat?.seatNumber}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </ion-accordion>

            </ion-accordion-group>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
